!!! 5
%h1 艦隊のアイドル那珂ちゃんだよ

%ul
  %li
    修理
    %ul
      %li
        %a(href="/repair") しゅうり
      %li
        %a(href="/repair?cheat=true") すごいしゅうり
  %li
    %a(href="/supply") ほきゅう
  %li
    %a(href="/mission") えんせい
  %li
    %a(href="/create") ぞうせん
  %li
    %a(href="/quests") くえすと

