!!! 5
%h1 艦隊のアイドル那珂ちゃんだよ

%ul
  %li
    修理
    %ul
      %li
        %a(href="/repair") しゅうり
      %li
        %a(href="/repair?cheat=true") すごいしゅうり
  %li
    %a(href="/supply") ほきゅう
  %li
    %a(href="/mission") えんせい
  %li
    造船
    %ul
      %li
        %a(href="/create/cv") くうぼ
      %li
        %a(href="/create/bb") せんかん
      %li
        %a(href="/create/r-dd") れあ
      %li
        %a(href="/create/cheap") びんぼう
  %li
    そうび

  %li
    %a(href="/quests") くえすと

