!!! 5
%h1 艦隊のアイドル、那珂ちゃんだよー!

%ul
  %li
    出撃
    %ul
      %li
        %a(href="/a-go") 1-1 あ号作戦
  %li
    修理
    %ul
      %li
        %a(href="/repair") しゅうり
      %li
        %a(href="/repair?cheat=true") すごいしゅうり
  %li
    %a(href="/supply") ほきゅう
  %li
    %a(href="/mission") えんせい
  %li
    造船
    %ul
      %li
        %a(href="/create/cv") くうぼ
      %li
        %a(href="/create/bb") せんかん
      %li
        %a(href="/create/r-dd") れあ
      %li
        %a(href="/create/cheap") びんぼう
  %li
    装備
    %ul
      %li
        %a(href="/weapon/aircraft") ひこーき
      %li
        %a(href="/weapon/cheap") びんぼう
  %li
    %a(href="/quests") くえすと
  %li
    %a(href="/practice") えんしゅう

