!!! 5

%link(rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
%script(src="//codeorigin.jquery.com/jquery-2.0.3.min.js")
%script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")

.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle(data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button")
        %spna.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/") IJN48
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          %a(href="https://github.com/masarakki/IJN48") ver 2.4.11
      .navbar-btn.navbar-right
        %a.btn.btn-danger(href="http://bit.ly/masarakki")
          %span.glyphicon.glyphicon-tint
          Give Me Curry !!

.jumbotron
  .container
    %h2 艦隊のアイドル、那珂ちゃんだよー!

.container
  .row
    = yield
